.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2.2rem;

    &__img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    &__like {
        fill: $color-primary;
        height: 1.5rem;
        width: 1.5rem;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        margin: .8rem;
    }

    &__name {
        font-family: $font-display;
        font-size: 1rem;
        font-weight: 400;
        width: 80%;
        color: $color-white;
        background-color: $color-secondary;
        text-align: center;
        padding: .8rem;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
        transform: translateY(50%);
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        font-size: 1rem;
        margin: 0 1.25rem;
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: .7rem;
        align-items: center;

        @include respond(extra-large) {
            margin: 0 .8rem;
        }

        @include respond(large) {
            font-size: .9rem;
        }

        svg {
            height: 1.3rem;
            width: 1.3rem;
            fill: $color-primary;
        }
    }

    &__location,
    &__rooms {
        margin-top: 1.5rem;
    }

    &__btn {
        grid-column: 1 / -1;
    }
}